@import "tailwindcss";
@import "tw-animate-css";
@import url('https://fonts.googleapis.com/css2?family=Rock+Salt&family=Rubik+Glitch&family=Permanent+Marker&display=swap');

@theme {
  --font-sans: var(--font-inter);
}

.font-scratchy {
  font-family: 'Rock Salt', 'Rubik Glitch', cursive;
  font-style: italic;
}

@layer base {
  :root {
    --background: #050505;
    --foreground: #fcfcfc;
    --accent: #ff4500; /* Subtle accent */
  }

  body {
    @apply bg-[var(--background)] text-[var(--foreground)] antialiased overflow-x-hidden selection:bg-white selection:text-black;
    cursor: none; /* Custom cursor */
  }

  /* Hide scrollbar for Chrome, Safari and Opera */
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  /* Hide scrollbar for IE, Edge and Firefox */
  .no-scrollbar {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
